<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MiBand_Heartrate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MiBand_Heartrate.Properties.Settings>
            <setting name="useAutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoConnectDeviceVersion" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="autoConnectDeviceName" serializeAs="String">
                <value>Mi Band 3</value>
            </setting>
            <setting name="autoConnectDeviceAuthKey" serializeAs="String">
                <value>0123456789abcdef0123456789abcdef</value>
            </setting>
            <setting name="continuousMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fileOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="csvOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="oscOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tryConnectOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </MiBand_Heartrate.Properties.Settings>
    </userSettings>
</configuration>